.radio-group {
  display: inline-flex;
  // display: flex;
  // width: 200px;
  // gap: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.radio-button {
  position: relative;
  padding: 4px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
  font-size: 0.8rem;
}

.radio-button:not(:last-child){
  border-right: 1px solid #ebebeb;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button.active {
  background-color: #5395db;
  color: white;
}

.radio-button:hover {
  background-color: #ebebeb;
  color: #5395db;
}
