.MuiTableContainer-root {
    .MuiTableCell-root {
        border: 0;
    }

    th {
        padding: 4px 8px;
    }
    td {
        padding: 10px 8px;
    }

    .MuiCheckbox-root {
        .css-i4bv87-MuiSvgIcon-root {
            width: 1.2rem;
            height: 1.2rem;
            color: #FF6464;
        }
    }

    .wrap:has(textarea) {
        width: 100%;
    }
    .wrap textarea {
        width: 100%;
        resize: none;
        padding: 8px 14px; 
        padding-bottom: 0.2em;
        line-height: 1.6;
        min-height: 100px;
    }

    .req{
      position: relative;
    }

    .req::before {
      content: "*";
      position: absolute;
      color: #f87171;
      right: -10px;
      top: -8px;
    }
}
