.headerWrap{
  // width: 250px;
  position: relative;

  background-image: url(../img/side_bg.jpg);
  background-size: cover;

  .sideNavBtn{
    position: absolute;
    right: -30px;
    top: 0px;
    width: 30px;
  }
}