$header : 80px;
$jogun : 55px;

.home_wrap{
  width: 100%;
  min-height: calc(100vh - $header);
}

.map_wrap{
  width: 100%;
  height: 500px;
}

.displayWrap{
  height: calc(100vh - $header - $jogun - 25px - 16px);
}
// height: calc(100vh - $header - $jogun - 25px (mt) - 16px(mb);
.chartWrap{
  height: calc((100vh - $header - $jogun - 25px - 16px - 16px)/2);
}

.logined{
  background-color: rgba(36 43 49 / 40%);
  backdrop-filter: blur(10px);
}