.login_wrap{
    // background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../img/login_bg2.jpg);
    background: linear-gradient(0deg, rgba(29, 63, 255, 0.1), rgba(29, 63, 255, 0.1)), url(../img/login_bg1.jpg);
    /* background: url(../img/login_bg2.jpg); */
    background-position: center;
    background-size: cover;
}

.join_wrap{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1)), url(../img/join_bg.jpg);
    background-position: center;
    background-size: cover;
}