@tailwind base;
@tailwind components;
@tailwind utilities;
@import './assets/theme/map.modules.scss';
@import './assets/theme/home.module.scss';
@import './assets/theme/grid.module.scss';
@import './assets/theme/chart.module.scss';
@import './assets/theme/header.module.scss';
@import './assets/theme/calendar.module.scss';

body {
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
